---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/NavAdmin.astro';
import ContenedorPadres from "../layouts/ContenedorPadres.astro";
import Titulos from "../components/Titulos.astro";
import Informacion from "../components/Informacion.astro";
import ContenedorCartas from "../layouts/ContenedorCartas.astro";
import CartasInformativa from "../components/CartaInformativa.astro";
import Botones from '../components/Botones.astro';

import festividadesTradiciones from '../data/FestividadesTradiciones.js';
import actividadesCulturales from '../data/ActividadesCulturalesEconomicas.js';
import faunaPuntaPiedras from '../data/FaunaPuntaPiedras.js'
import flora from '../data/Flora.js'
---

<Layout title='Administrador'>
    <Nav enlace="/adminHome" text='Home' icon='fa-solid fa-house'
        enlace2="/adminGallery" text2='Galeria' icon2='fa-solid fa-image'
        enlace3="/adminProjects" text3='Proyectos' icon3='fa-solid fa-helmet-safety'
        enlace4='/adminEnvironments' text4='Ambiente' icon4='fa-solid fa-seedling'
        enlace5='/adminTourism' text5='Turismo' icon5='fa-solid fa-umbrella-beach'
        enlace6='/adminCounsellor' text6='Consejales' icon6='fa-solid fa-people-arrows'
        enlace7='/adminResearch' text7='Investigadores' icon7='fa-solid fa-magnifying-glass'
        enlace8='/adminForum' text8='Foro' icon8='fa-solid fa-users'
        enlace9='/adminForumAdmin' text9='Foros Administrativos' icon9='fa-solid fa-people-group'
        enlace10='/adminProfile' text10='Perfil' icon10='fa-solid fa-user'>
    </Nav>


        <ContenedorPadres>
            <div id="PuntaPiedras">
                <Titulos title='Punta de piedras'></Titulos>
            </div>
            <Informacion img='' subtitle='' contexto='Punta de Piedras es una ciudad ubicada en la costa centro-sur de la Isla de Margarita​ y tiene una población,  según censo de 10.000 habitantes. Es la capital del Municipio Tubores, estado Nueva Esparta, que forma parte de la República Bolivariana de Venezuela. Es la puerta de entrada a la isla, ya que ahí se encuentran tres puertos marítimos; desde donde se puede navegar en pequeñas embarcaciones a las vecinas Isla de Cubagua e Isla de Coche. También conecta mediante el uso de Ferrys a la isla con el continente, específicamente con las ciudades de Puerto La Cruz, Cumaná y La Guaira. El clima es como el resto de la isla, tropical, de los 28º hasta los 42°C.'>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30117.910166229405!2d-64.11043915274557!3d10.904541562118578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c31f7cc9dcf8c31%3A0x40babd702bc746bf!2sPunta%20de%20Piedras%2C%20Nueva%20Esparta!5e1!3m2!1ses!2sve!4v1730230321815!5m2!1ses!2sve" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </Informacion>
            <div class="icon">
                <a href="/modifyInformationAdmin"><i class="fa-solid fa-pen-to-square" style="color: #000000;"></i></a>
                <i class="fa-solid fa-trash" style="color: #000000;"></i> 
            </div>
        </ContenedorPadres>
    
        <!-- ContenedorPadre 2 -->
        <ContenedorPadres> 
            <div id="FestividadesTradiciones"> 
                    <Titulos title='Festividades y tradiciones'></Titulos> 
                </div> 
                {festividadesTradiciones.map(f => ( <div> <Informacion subtitle={f.subtitle} contexto={f.contexto} img={f.img} /> 
                <div class="icon"> 
                    <a href={f.ulr2}><i class="fa-solid fa-pen-to-square" style="color: #000000;"></i></a> 
                    <i class="fa-solid fa-trash" style="color: #000000;"></i> 
                </div> 
            </div> ))} 
            <Botones enlace='/registerInformationAdmin' accion='Registrar'></Botones>
        </ContenedorPadres>
    
        <!-- ContenedoPadre 3 -->
        <ContenedorPadres>
            <div id="ActividadesCulturalesEconómicas">
                <Titulos title='Actividades Culturales y Económicas'></Titulos>
            </div>
            {actividadesCulturales.map(a => (<div> <Informacion subtitle={a.subtitle} contexto={a.contexto} img={a.img} /> 
                <div class="icon"> 
                    <a href={a.ulr2}><i class="fa-solid fa-pen-to-square" style="color: #000000;"></i></a> 
                    <i class="fa-solid fa-trash" style="color: #000000;"></i> 
                </div> 
            </div> ))}
            <Botones enlace='/registerInformationAdmin' accion='Registrar'></Botones>
        </ContenedorPadres>
    
        <!-- ContenedoPadre 4 -->
        <ContenedorPadres>
            <div id="Faunas">
                <Titulos title='Fauna de Punta de piedras'></Titulos>
            </div>
            <ContenedorCartas>
                {faunaPuntaPiedras.map(f => (<CartasInformativa titulo={f.titulo} contexto={f.contexto} imagen={f.imagen} icon='fa-solid fa-pen-to-square' icon2='fa-solid fa-trash' enlace={f.ulr2} enlace2=''/>))}
            </ContenedorCartas>
            <Botones enlace='/registerInformationAdmin' accion='Registrar'></Botones>
        </ContenedorPadres>

        <!-- ContenedorPadre 5 -->
        <ContenedorPadres>
            <div id="Flora">
                <Titulos title='Flora de la laguna'></Titulos>
            </div>
            <ContenedorCartas>
                {flora.map(f => (<CartasInformativa titulo={f.titulo} contexto={f.contexto} imagen={f.imagen} icon='fa-solid fa-pen-to-square' icon2='fa-solid fa-trash' enlace={f.ulr2} enlace2=''/>))}
            </ContenedorCartas>
            <Botones enlace='/registerInformationAdmin' accion='Registrar'></Botones>
        </ContenedorPadres>
</Layout>

<style>

	iframe{
		border-radius: 20px;
		transition: all 400ms;
        margin: 5% 0;
	}

	iframe:hover{
		transform: scale(1.1);
        transition: all 400ms;
	}

	img{
		margin: 1% 0 5% 0;
		width: 20%;
		border-radius: 5px;
	}

	.icon{
        margin: -2% 0 10% 0;
		display: flex;
		justify-content: space-evenly;
		font-size: 150%;
		width: 100%;
	}

	@media(max-width: 900px){
		iframe:hover{
			transform: none;
		}
	}
</style>
