---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/NavAdmin.astro';
import Titulos from '../components/Titulos.astro';
import ContenedorPadres from "../layouts/ContenedorPadres.astro";
import Informacion from "../components/Informacion.astro";
import ContenedorCartas from "../layouts/ContenedorCartas.astro";
import CartasInformativa2 from "../components/CartaInformativa2.astro";
import Botones from '../components/Botones.astro';
import proyecto from "../data/Proyectos.js"

---

<Layout title='Proyectos (Administrador)'>
    <Nav enlace="https://walstar29.github.io/Portal-Ambiental/adminHome/" text='Home' icon='fa-solid fa-house'
        enlace2="https://walstar29.github.io/Portal-Ambiental/adminGallery/" text2='Galeria' icon2='fa-solid fa-image'
        enlace3="https://walstar29.github.io/Portal-Ambiental/adminProjects/" text3='Proyectos' icon3='fa-solid fa-helmet-safety'
        enlace4='https://walstar29.github.io/Portal-Ambiental/adminEnvironments/' text4='Ambiente' icon4='fa-solid fa-seedling'
        enlace5='https://walstar29.github.io/Portal-Ambiental/adminTourism/' text5='Turismo' icon5='fa-solid fa-umbrella-beach'
        enlace6='https://walstar29.github.io/Portal-Ambiental/adminCounsellor/' text6='Consejales' icon6='fa-solid fa-people-arrows'
        enlace7='https://walstar29.github.io/Portal-Ambiental/adminResearch/' text7='Investigadores' icon7='fa-solid fa-magnifying-glass'
        enlace8='https://walstar29.github.io/Portal-Ambiental/adminForum/' text8='Foro' icon8='fa-solid fa-users'
        enlace9='https://walstar29.github.io/Portal-Ambiental/adminForumAdmin/' text9='Foros Administrativos' icon9='fa-solid fa-people-group'
        enlace10='https://walstar29.github.io/Portal-Ambiental/adminProfile/' text10='Perfil' icon10='fa-solid fa-user'>
    </Nav>

    <!-- ContenedorPadre -->
    <ContenedorPadres >
        <Titulos title='Futuros proyectos'></Titulos>
        <Informacion img='' subtitle='' contexto='Las Instituciones Universitarias, Instituto Unicersitario Politecnico "Santiago Marino" y El Tecnologico "Antonio Jose De Sucre" EXTENSION PORLAMAR, Se toman de la mano para dirigirse al municipio tubores, Punta de Piedras para estar presente a las comunidades y sectores'>
            <div class="LogosUniversidad">
                <img src="https://github.com/WalStar29/Portal-Educativo-Ambiental/blob/main/public/Instituciones/Antonio_jose_de_sucre.png?raw=true" alt="">
                <img src="https://github.com/WalStar29/Portal-Educativo-Ambiental/blob/main/public/Instituciones/Santiago_Marinio.png?raw=true" alt="">
            </div>
        </Informacion>
        <div class="icon">
            <a href="https://walstar29.github.io/Portal-Ambiental/modifyInformationAdmin/"><i class="fa-solid fa-pen-to-square" style="color: #000000;"></i></a>
            <i class="fa-solid fa-trash" style="color: #000000;"></i>
        </div>
    </ContenedorPadres>

    <!-- ContenedorPadre 2 -->
    <ContenedorPadres>
        <ContenedorCartas>
                {proyecto.map(p => (<CartasInformativa2 titulo={p.titulo} contexto={p.contexto} imagen={p.imagen} pdf={p.pdf} icon='fa-solid fa-pen-to-square' icon2='fa-solid fa-trash' enlace={p.ulr2} enlace2=''/>))}
            <Botones enlace='https://walstar29.github.io/Portal-Ambiental/registerInformationAdmin/' accion='Registrar'></Botones>
        </ContenedorCartas>
    </ContenedorPadres>
</Layout>

<style>
	.LogosUniversidad{
		display: flex;
		justify-content: center;
	}

	img{
		width: 20%; 
		filter: drop-shadow(
			0 0 5px rgb(255, 255, 255)
		);
	}

    .icon{
        margin: -2% 0 10% 0;
		display: flex;
        
		justify-content: space-around;
		font-size: 150%;
		width: 50%;
	}
</style>
