---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import ContenedorPadres from "../layouts/ContenedorPadres.astro";
import Titulos from "../components/Titulos.astro";
import Informacion from "../components/Informacion.astro";
import Slider from "../components/Slider.astro";
import H1 from "../components/Titulos.astro";

import atractivosTuristicos from "../data/AtractivosTuristicos.js"
import actividadesTuristicas from "../data/ActividadesTuristicas.js"
---

<Layout title='Punta de piedras'>
    <Nav enlace="https://walstar29.github.io/Portal-Ambiental/" text='Home' icon='fa-solid fa-house'
        enlace2="https://walstar29.github.io/Portal-Ambiental/mainGalleryBlock/" text2='Galeria' icon2='fa-solid fa-image'
        enlace3="https://walstar29.github.io/Portal-Ambiental/mainProjectsBlock/" text3='Proyectos' icon3='fa-solid fa-helmet-safety'
        enlace4='https://walstar29.github.io/Portal-Ambiental/mainEnvironmentsBlock/' text4='Ambiente' icon4='fa-solid fa-seedling'
        enlace5='https://walstar29.github.io/Portal-Ambiental/mainTourismBlock/' text5='Turismo' icon5='fa-solid fa-umbrella-beach'
        enlace6='https://walstar29.github.io/Portal-Ambiental/mainContactUsBlock/' text6='Contectenos' icon6='fa-solid fa-phone'
        enlace7='https://walstar29.github.io/Portal-Ambiental/mainForumBlock/' text7='Foro' icon7='fa-solid fa-users'
        enlace8='https://walstar29.github.io/Portal-Ambiental/signIn/' text8='Iniciar sesion' icon8=''>
    </Nav>

    <!-- ContenedorPadre -->
    <ContenedorPadres>
        <div>
            <Titulos title='EL turismo de Punta de Piedras'></Titulos>
        </div>
        <Informacion subtitle='' img='' contexto='Punta de Piedras, ubicada en la costa meridional de la Isla de Margarita, Venezuela, es un destino turístico destacado por su belleza natural, su rica historia y su vibrante cultura. Este pueblo, que es la capital del Municipio Tubores, ofrece a los visitantes una variedad de atracciones y actividades que hacen de su visita una experiencia memorable.'>
            <Slider 
                imagen='https://github.com/WalStar29/Portal-Ambiental/blob/main/public/FestividadesyTradiciones/Turismo.jpg?raw=true' 
                imagen2='https://github.com/WalStar29/Portal-Ambiental/blob/main/public/Turismo/conferry1.jpg?raw=true' 
                imagen3='https://github.com/WalStar29/Portal-Ambiental/blob/main/public/Turismo/PuntadePiedras.jpg?raw=true' 
                imagen4='https://github.com/WalStar29/Portal-Ambiental/blob/main/public/Galeria/imagen_9.jpg?raw=true' 
                imagen5=''>
            </Slider>
        </Informacion>
    </ContenedorPadres>

    <!-- ContenedorPadre 2 -->
    <ContenedorPadres>
        <H1 title='Atractivos Turísticos de Punta de Piedras'></H1>
        {atractivosTuristicos.map(a => (<Informacion subtitle={a.subtitle} contexto={a.contexto} img={a.img}/> ))}
    </ContenedorPadres>

    <ContenedorPadres>
        <H1 title='Actividades Turísticas'></H1>
        {actividadesTuristicas.map(a => (<Informacion subtitle={a.subtitle} contexto={a.contexto} img={a.img}/> ))}
    </ContenedorPadres>
</Layout>

    