---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import ContenedorPadres from "../layouts/ContenedorPadres.astro";
import H1 from "../components/Titulos.astro";
import Informacion from "../components/Informacion.astro";
import Slider from "../components/Slider.astro";


import caracteristicas from "../data/CaracteristicasLaguna.js"
import uso from "../data/UsoLaguna.js"
import importancia from '../data/ImportanciaLaguna.js';
---

<Layout title='Punta de piedras'>
    <Nav enlace="https://walstar29.github.io/Portal-Ambiental/main/" text='Home' icon='fa-solid fa-house'
        enlace2="https://walstar29.github.io/Portal-Ambiental/mainGallery/" text2='Galeria' icon2='fa-solid fa-image'
        enlace3="https://walstar29.github.io/Portal-Ambiental/mainProjects/" text3='Proyectos' icon3='fa-solid fa-helmet-safety'
        enlace4='https://walstar29.github.io/Portal-Ambiental/mainEnvironments/' text4='Ambiente' icon4='fa-solid fa-seedling'
        enlace5='https://walstar29.github.io/Portal-Ambiental/mainTourism/' text5='Turismo' icon5='fa-solid fa-umbrella-beach'
        enlace6='https://walstar29.github.io/Portal-Ambiental/mainContactUs/' text6='Contectenos' icon6='fa-solid fa-phone'
        enlace7='https://walstar29.github.io/Portal-Ambiental/mainForum/' text7='Foro' icon7='fa-solid fa-users'
        enlace8='https://walstar29.github.io/Portal-Ambiental/mainProfile/' text8='Perfil' icon8='fa-solid fa-user'>
    </Nav>

    <!-- ContenedorPadre -->
    <ContenedorPadres>
        <H1 title='Laguna de punta de piedras'></H1>
        <Informacion subtitle='' img='' contexto='La Laguna de Punta de Piedras es un importante cuerpo de agua ubicado en la ciudad de Punta de Piedras, en el estado Nueva Esparta, Venezuela. Esta laguna es un ambiente costero cercano a un desarrollo urbano significativo en la Isla de Margarita, lo que influye en las características fisicoquímicas de sus aguas.'>
            <img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/Punta_de_Piedras_aerea.jpg?raw=true" alt="">
        </Informacion>
    </ContenedorPadres>

    <!-- ContenedorPadre 2 -->
    <ContenedorPadres>
        <H1 title='Características de la Laguna'></H1>
        {caracteristicas.map(c => (<Informacion subtitle={c.subtitle} contexto={c.contexto} img=''/> ))}
    </ContenedorPadres>

    <!-- ContenedoPadre 3 -->
    <ContenedorPadres>
        <H1 title='Usos'></H1>
        {uso.map(u => (<Informacion subtitle={u.subtitle} contexto={u.contexto} img=''/> ))}
    </ContenedorPadres>

    <!-- ContenedoPadre 4 -->
    <ContenedorPadres>
        <H1 title='Importancia'></H1>
        {importancia.map(i => (<Informacion subtitle={i.subtitle} contexto={i.contexto} img=''/> ))}
    </ContenedorPadres>

    <!-- ContenedorPadre 5 -->
    <ContenedorPadres>
        <H1 title='La laguna en la actualidad'></H1>
        <Informacion img='' subtitle='' contexto='Actualmente se a observado que la comunidad enfrenta multiples desafios relacionados con la contaminacion, la comunidad carece de infraestructuras y servicios basicos, como instalaciones academicas y centro de salud, lo que limita el acceso a recursos esenciales y afecta la calidad de vida de los habitantes. Se reportan problemas de senamiento, comom aguas negras estancadas en las calles, que representa un riesgo para la salud publica y constribuyen a la contaminacion de la laguna. Existe una necesidad urgente de aumentar la conciencia y educacion sobre la importancia de la conservacion del medio ambiente.'>
            <Slider 
            imagen='https://github.com/WalStar29/Portal-Ambiental/blob/main/public/Slider/Contraminacion%20Sector.jpg?raw=true' 
            imagen2='https://github.com/WalStar29/Portal-Ambiental/blob/main/public/Slider/Contraminacion2%20Sector.jpg?raw=true' 
            imagen3='https://github.com/WalStar29/Portal-Ambiental/blob/main/public/Slider/Contraminacion3%20Sector.jpg?raw=true' 
            imagen4='https://github.com/WalStar29/Portal-Ambiental/blob/main/public/Slider/Contraminacion4%20Sector.jpg?raw=true' 
            imagen5='https://github.com/WalStar29/Portal-Ambiental/blob/main/public/Slider/Contraminacion5%20Sector.jpg?raw=true'>
            </Slider>
        </Informacion>
    </ContenedorPadres>
</Layout>

<style>
    img{
        width: 50%;
        border-radius: 5px;
    }
</style>