---
interface Props{
    question: string;
    question2: string;
    question3: string;
    question4: string;
    question5: string;
    question6: string;
    question7: string;
    
    answer: string;
    answer2: string;
    answer3: string;
    answer4: string;
    answer5: string;
    answer6: string;
    answer7: string;

    button: string;
}

const {question, question2, question3, question4, question5, question6, question7, 
        button,
        answer, answer2, answer3, answer4, answer5, answer6, answer7} = Astro.props
---

<div class="formulario">
        <form action="">
            <div class="contenedor">
                <div class="datos">
                    <label for="">{question}</label>
                    <input type="text" placeholder={answer} required>

                    <label for="">{question2}</label>
                    <input type="text" placeholder={answer2} required>

                    <label for="">{question3}</label>
                    <input type="text" placeholder={answer3} required>

                    <label for="">{question4}</label>
                    <input type="email" placeholder={answer4} required>
                    
                    <label for="">{question5}</label>
                    <input type="number" placeholder={answer5} required>

                    <label for="">{question6}</label>
                    <input type="text" placeholder={answer6} required>

                    <label for="">{question7}</label>
                    <input type="password" placeholder={answer7} required>
                </div>

            </div>

            <div class="botones">
                <button>{button}</button>
            </div>
        </form>
</div>

<style>
    .formulario{
        margin: 2% 0 5% 0;
    }

    .formulario form{
        transition: all 900ms;
        border-radius: 10px;
        background-color: rgb(255, 255, 255, 0.8);
        width: 100%;
        margin: 2% 0 0 0;
        padding: 2% 0;
    }

    .formulario form:hover{
        color: white;
		border-radius: 25px;
		background-color: rgba(0, 0, 0, 0.8);
		box-shadow: 0px 10px 60px 0px rgb(0, 0, 0);
		transition: all 900ms;
	}

    .formulario form .contenedor{
        display: flex;
        justify-content: space-around;
    }

    .formulario form .contenedor .datos{
        width: 40%;
        display: flex;
        flex-direction: column;
    }

    .formulario form .contenedor .datos input{
        margin: 2% 0 5% 0;
        padding: 2%;
        width: 100%;
        border-radius: 10px;
        border: none;
        border-bottom: 2px solid rgb(0, 0, 0);
    }
    .botones{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    button{
        padding: 1% 4%;
        border-radius: 10px;
        border: solid 2px rgb(0, 0, 0);
    }

    @media(max-width: 900px){
        .formulario{
            margin: -10% 0 5% 0;
            padding: 10% 0 0 0;
        }

        .formulario form .contenedor{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .formulario form .contenedor .datos{
            width: 90%;
        }

        .formulario form .contenedor .datos input{
            padding: 3% 0 3% 1%;
        }

        button{
            padding: 3% 5%;
        }
    }
</style>